.link-styles {
	color: #f7fff7;
	text-decoration: none;
}

.link-styles:hover {
	color: #000300;
}

.page-container {
	display: grid;
	height: 100vh;
	grid-template-columns: 6rem 1fr auto;
	grid-template-rows: 5rem 1fr auto;
	grid-template-areas:
		"nav nav nav"
		"sidebar main main"
		"sidebar main main";
}
