.sent-messages {
    display: flex;
    justify-content: flex-end;
}

.received-messages {
    display: flex;
    justify-content: flex-start;
}

.sent-messages-content-container {
    margin: 5px;
    padding: 5px;
    background-color: #AED4E6;
    border: 1px solid pink;
    border-radius: 30px;
}

.received-messages-content-container {
    margin: 5px;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 30px;
}