.sidebar {
    /* position: fixed; */
    display: grid;
    grid-area: sidebar;
    background-color: #000300;
    color: #F7FFF7;
    /* left: 0; */
    /* bottom: 0px; */
}

.sidebar-title {
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    justify-content: flex-start;
}

.sidebar-user-list {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
    list-style-type: none;
}